fastapi==0.115.6
uvicorn[standard]==0.32.1
pydantic==2.10.4
pydantic-settings==2.7.0

SQLAlchemy==2.0.36
asyncpg==0.30.0

redis==5.2.1
rq==2.1.0

prometheus-client==0.21.1
python-json-logger==2.0.7